---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "My Home page";

---
<BaseLayout pageTitle = {pageTitle}>
  <h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={["Hola","Adios","Buenas noches", "Buenas tardes"]} />
</BaseLayout>